* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    all: unset;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
  
.nav-group {
    display: flex;
    gap: 20px; 
    flex: 1;
}
  
.nav-group:last-child {
    justify-content: flex-end;
}

.border-rounded{
    border-radius: 50%;
    color: transparent;
}
.border-rounded:hover {
    border-color: white;
}