button{
    all: unset;
}
.center {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    max-height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container-login{
    width: 100%;
    gap: 1rem;
}
.container-button{
    display: flex;
    flex-direction: column;
}
.container-button > button {
    text-align: center;
    border:  1px solid rgba(121, 120, 120, 0.478);
    padding: 0.3rem 0.5rem;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.container-button > button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}